<p id="notice"><%= notice %></p>
<%= "Original url is:  #{@shrink.originalname}" %>
<br>
<%= "Short url is:  #{@shrink.shortname}" %>
<br>
<%#= link_to 'Edit', edit_shrink_path(@shrink) %> |
<%= link_to 'Back', shrinks_path %>
<%#= redirect_to @shrink.originalname %>
